<br><br><br><br>
<center><h2>Welcome to my web server, deployed on {{ ansible_nodename }}.</h2></center>
<center>Guest OS is {{ ansible_distribution }} version {{ ansible_distribution_version }}</center>
